<div class="p-3">
  <h6 class="text-uppercase text-muted">Tính năng</h6>
  <ul class="nav flex-column mt-3">
    <li class="nav-item mb-2">
      <a class="nav-link active" data-page="TongQuan.html">
        <i class="fa-light fa-grip"></i>Tổng quan
      </a>  
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" data-page="QLHoSo.html">
        <i class="fa-light fa-address-card"></i>Quản lý Hồ sơ
      </a>  
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" data-page="QLNguoiDung.html">
        <i class="fa-light fa-users"></i>Quản lý Người dùng
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" data-page="QLDichVu.html">
        <i class="fa-light fa-calendar-check"></i>Quản lý Dịch vụ
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" data-page="QLLoaiDichVu.html">
        <i class="fa-light fa-table-list"></i>Quản lý Loại dịch vụ
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link" data-page="QLLoaiHinhKinhDoanh.html">
        <i class="fa-light fa-building-memo"></i>Quản lý Loại hình kinh doanh
      </a>
    </li>
  </ul>
</div>
