/* Sidebar fixed hoàn toàn */
.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 240px;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  background-color: #f8f9fa;
}

/* Header info */
.provider-info span {
  border: 0.5px solid #aaaaaa;
  padding: 2px 15px;
  border-radius: 50px;
}

.logout-link {
  cursor: pointer;
  font-weight: 200;
  padding: 1px 5px 2px 5px;
}

.logout-link:hover {
  border-bottom: 0.5px solid #aaaaaa;
}

/* Sidebar link style */
.sidebar .nav-link {
  color: #333;
  font-weight: 400;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #5e5ab5;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.sidebar .nav-link i {
  font-size: 17px;
  margin-right: 8px;
}

/* Table style */
.custom-table thead th {
  font-weight: 600;
  background-color: #f9fafb !important;
  border-bottom: 2px solid #eaeaea;
}

.custom-table tbody tr:hover {
  background-color: #f1f5ff;
  transition: background-color 0.2s ease-in-out;
}

.custom-table td, 
.custom-table th {
  padding: 12px 16px;
  vertical-align: middle;
}

.custom-table .badge {
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 50px;
}

.btn-outline-primary, 
.btn-outline-danger {
  border-radius: 8px;
}

.custom-column1st {
  width: 225px;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-column2nd {
  width: 175px;
  max-width: 175px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==== Pagination ==== */
.custom-pagination .page-link {
  border: none;
  color: #333;
  font-weight: 500;
  border-radius: 8px;
  margin: 0 3px;
  transition: all 0.2s ease-in-out;
}

.custom-pagination .page-item.active .page-link {
  background-color: #8c68cd;
  color: #fff;
  box-shadow: 0 2px 6px rgba(73, 31, 125, 0.3);
}

.custom-pagination .page-link:hover {
  background-color: #efe6fd;
  color: #a98eda;
}

.custom-pagination .page-item.disabled .page-link {
  color: #bbb;
  pointer-events: none;
  background-color: #f8f9fa;
}

.custom-pagination .page-link i {
  font-size: 0.8rem;
}