.btn-blue-100 {
    background-color: #cfe2ff;
    color: #333;
    font-size: 15px;
}

.btn-blue-100:hover {
    background-color: #9ec5fe;
    color: #333;
    transition: 0.3s;
}

.bg-purple-555 {
    background-color: #8968c7;
}

.btn-purple-100 {
    background-color: #e2d9f3;
    color: #333;
    font-size: 15px;
}

.btn-purple-100:hover {
    background-color: #a98eda;
    color: #333;
    transition: 0.3s;
}

.text-blue-800 {
    color: #052c65;
}

.btn-blue-400-outline {
    color: #3d8bfd;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #3d8bfd;
}

.btn-blue-400-outline:hover {
    color: #fff;
    background-color: #3d8bfd;
    border: 1px solid #3d8bfd;
    transition: 0.5s;
}

.btn-out-without-background-hover {
    padding: 8px 17px;
    border-radius: 100px;
    font-weight: 900;
    background-color: #fff;
    border: 0.5px solid #c2c2c2;
    transition: 0.4s;
    cursor: pointer;
}

.btn-out-without-background-hover:hover {
    background-color: #f0f0f0;
}

.text-deco-none {
    text-decoration: none;
    color: #333;
}